.progress-bar-base{
  background-color: #eee;
}
.progress-bar{
  height: 15px;
  width: 0px;
}

.progress-bar-red{
  background-color: red;
}
.progress-bar-yellow{
  background-color: #a8a83d;
}
.progress-bar-green{
  background-color: green;
}




